<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ActiveClub</title>
  <link rel="stylesheet" href="/public/css/styles3.css">
  <link rel="stylesheet" href="/public/css/planes.css">
</head>

<body>
  <!-- Barra Superior -->
  <header class="navbar">
    <div class="logo">#BeActive</div>
    <div class="menu-icon" id="menu-icon">&#9776;</div>
    <nav class="nav-links" id="nav-links">
      <a href="contact.html">Contáctenos</a>
      <a href="#features">Servicios</a>
      <a href="#planes-up">Planes</a>
      <a href="#trainers">Equipo</a>
      <a href="login.html" class="btn-login">Iniciar Sesión</a>
    </nav>
  </header>

  <!-- Carrusel -->
  <section class="carousel" id="carousel">
    <div class="carousel-inner">
      <img src="/public/assets/GIM4.jpg" alt="Imagen 1" class="active">
      <img src="/public/assets/GYM2.jpg" alt="Imagen 2">
      <img src="/public/assets/GYM5.jpg" alt="Imagen 3">
    </div>
    <button class="prev">❮</button>
    <button class="next">❯</button>
  </section>

  <!-- Descripción -->
  <section class="about">
    <h2>Bienvenido a ActiveClub</h2>
    <h3 class="p1">¿QUIÉNES SOMOS?</h3><br>
    <div class="p2">
      <p>Somos un grupo interdisciplinario que sustentados en bases teóricas</p>
      <p>y prácticas busca impactar de manera positiva en la salud de las personas</p>
      <p>a través de la cultura del ejercicio físico y el deporte.</p>
    </div>
    <h3 class="p1">¿POR QUÉ SOMOS LA MEJOR EXPERIENCIA DE ENTRENAMIENTO?</h3><br>
    <div class="p2">
      <p>En ActiveClub, sientes un ambiente cálido y familiar. Encuentras</p>
      <p> espacios cómodos pensados para ti; contamos con excelentes equipos</p>
      <p> y amplias zonas de entrenamiento. Nuestros entrenadores</p>
      <p> están altamente calificados para asesorarte y guiarte en tu proceso.</p><br>
      <a href="/views/login.html" class="btn-about">¡Únete ya! </a>
    </div>
  </section>

  <section class="features" id="features">
    <div id="dir_facture" class="feature">
      <img src="/public/assets/captura1.png" alt="Entrenamiento">
      <p>Entrenamiento</p>
    </div>
    <div class="feature">
      <img src="/public/assets/captura2.png" alt="Nutrición">
      <p>Nutrición</p>
    </div>
    <div class="feature">
      <img src="/public/assets/captura3.png" alt="Rehabilitación">
      <p>Rehabilitación</p>
    </div>
  </section>

  <!-- Entrenadores -->
  <section class="trainers" id="trainers">
    <h2>Conoce a nuestros entrenadores</h2>
    <div class="trainers-container">
      <div class="card" id="entrenador1"><img src="/public/assets/card1.png" alt="Entrenador">
      </div>
      <div class="card" id="entrenador2"><img src="/public/assets/card2.png" alt="Entrenador">
      </div>
      <div class="card" id="entrenador3"><img src="/public/assets/card3.png" alt="Entrenador">
      </div>
      <div class="card" id="entrenador4"><img src="/public/assets/card4.png" alt="Entrenador">
      </div>
      <div class="card" id="entrenador5"><img src="/public/assets/card5.png" alt="Entrenador">
      </div>
      <div class="card" id="entrenador6"><img src="/public/assets/card6.png" alt="Entrenador">
      </div>
    </div>
  </section>

  <h2 class="titulo">Nuestros Planes</h2>
  <section class="planes-top" id="planes-up">
    <div class="container">
      <div class="cards-sub">
        <div class="check-icon">✔️</div> <!-- Ícono de check -->
        <div class="card-content">
          <div class="plan">
            <h2 class="sub-Titulo">Personalizado</h2>
            <p>Entrenamientos y asesorías adaptadas a ti.</p>
            <p>único cobro</p>
            <p class="price">$ 200.000</p>
            <a target="_blank" href="https://buy.stripe.com/test_28o9CjepJ91ibewcMR" class="btn">Pagar personalizado</a>
            <ul class="descriptions">
              <li>Máquinas de musculación y cardio (la más grande del país)</li>
              <li>Cinema Cardio (único en Latinoamérica)</li>
              <li>Zona funcional</li>
              <li>App Athletic: Rutinas de entrenamiento y más</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cards-sub">
        <div class="check-icon">✔️</div>
        <div class="card-content">
          <div class="plan">
            <h2 class="sub-Titulo">Mensualidad</h2>
            <p>Acceso completo al gimnasio durante un mes.</p>
            <p>único cobro</p>
            <p class="price">$ 75.000 /Mes</p>
            <p>Más mes siguiente $ 75.000<br>
            <a target="_blank" href="https://buy.stripe.com/test_7sI3dV0yTfpG3M4fYZ" class="btn">Pagar mes</a>
            <ul class="descriptions">
              <li>Todos los beneficios de Basico</li>
              <li>Acceso a la zona VIP</li>
              <li>Acceso a los otros gimnasios de la red</li>
              <li>Entrena gratis con un amigo los días: viernes, sábado y domingo</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cards-sub">
        <div class="check-icon">✔️</div>
        <div class="card-content">
          <div class="plan">
            <h2 class="sub-Titulo">Tiquetera</h2>
            <p>Paga por sesiones individuales según tu disponibilidad.</p>
            <p>único cobro</p>
            <p class="price">$ 55.000</p>
            <a target="_blank" href="https://buy.stripe.com/test_cN28yf0yTgtKciAcMQ" class="btn">Comprar Tiquetera</a>
            <ul class="descriptions">
              <li>Acceso a la zona VIP</li>
              <li>Acceso a los otros gimnasios de la red</li>
              <li>Zona cardio</li>
              <li>Cinema cardio</li>
              <li>Máquinas de musculación y cardio</li>
              <li>App Athletic: Rutina</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 ActiveClub. Todos los derechos reservados.</p>
    <p>Correo: <a href="mailto:info@activeclub.com">info@activeclub.com</a>
      | Redes Sociales: <a target="_blank" href="https://www.instagram.com/activeclub__/">Instagram</a>
    </p>
  </footer>

  <script src="/public/js/scripts.js"></script>
  <script src="/public/js/planes.js"></script>
</body>

</html>