
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-btn  a{
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
    
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.btn-reservas {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-reservas:hover {
    background-color: #ff5722;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f9f9f9;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

li button {
    padding: 5px 10px;
    background-color: #333;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 150px;
}

li button:hover {
    background-color: #cc0000;
}
